<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js'></script>
    <script src="https://unpkg.com/vue@next"></script>
</head>

<body>
    <div id='counter'>

        <button @click.stop="ep_sum()">1.Count Employees Number by Factory</button>
        <ul>
            <li v-for="(item, index) in ep_cnt">
                {{ item }}
            </li>
        </ul>
        <button @click.stop="get_num()">2.Count Factories Number by Employee</button>
        <ul>
            <li v-for="(item, index) in ep_work_sum">
                {{ item }}
            </li>
        </ul>
        <button @click.stop="get_name()">3.ep_name</button>
        <ul>
            <li v-for="(item, index) in ep_name">
                {{ item }}
            </li>
        </ul>
        <button @click.stop="get_hr_toal()">4.Count total hours worked in 1 day</button>

        <p> {{ hr_sum }}</p>



        <button @click.stop="howManyEmployeeByTime()">5.howManyEmployeeByTime</button>
        <ul>
            <li v-for="(item, index) in id">
                {{ item }}
            </li>
        </ul>
        <button @click.stop="howManyDayDoneTask()">6.howManyDayDoneTask</button>
        <p> {{ done_sum }}</p>

    </div>
</body>
<script>
    const Counter = {
        data() {
            return {
                factory: null,//取factory.json
                many: null,//取many.json
                ep_cnt: [],//ep_sum
                ep_work_sum: [],//get_num
                ep_name: [],//get_name
                hr_sum: null,//get_hr_toal
                id: [],//howManyEmployeeByTime
                done_sum: null,//howManyDayDoneTask

            }
        },
        mounted() {
            axios
                .get('./factory.json')
                .then(response => (this.factory = response))
            axios
                .get('./many.json')
                .then(response => (this.many = response))

        },
        methods: {
            ep_sum() {
                for (let i = 0; i < this.factory.data.factories.length; i++) {
                    this.ep_cnt.push('{name:' + this.factory.data.factories[i].name + ', count:' + this.factory.data.factories[i].employees.length + '}')
                }
            }, get_num() {
                /**晚點使用 foreach*/
                let cnt = 1;
                for (let i = 0; i < this.factory.data.factories.length; i++) {
                    for (let j = 0; j < this.factory.data.factories[i].employees.length; j++) {
                        if (this.factory.data.factories[i].employees[i] === this.factory.data.factories[i].employees[j]) {
                            cnt = cnt + 1
                            this.ep_work_sum.push('{employee:' + this.factory.data.factories[i].employees[i] + ' , count:' + cnt + '}')
                            cnt = 1
                        }
                    }
                }
            },
            get_name(d) {
                for (let i = 0; i < this.factory.data.factories.length; i++) {
                    this.ep_name.push('{name:' + this.factory.data.factories[i].name + ', employees:' + this.factory.data.factories[i].employees.sort() + '}')
                }
            }, get_hr_toal() {
                /**需要修改*/
                let x;
                let y = [];
                for (let i = 0; i < this.many.data.employeeType.length; i++) {
                    if (this.many.data.employeeType[i].work_end.split(":")[0] === '00') {
                        x = (parseInt(this.many.data.employeeType[i].work_end.split(":")[0]) + 24) - this.many.data.employeeType[i].work_begin.split(":")[0]
                    }
                    if (this.many.data.employeeType[i].work_end.split(":")[0] !== '00') {
                        y[i] = this.many.data.employeeType[i].work_end.split(":")[0] - this.many.data.employeeType[i].work_begin.split(":")[0]
                    }
                    this.hr_sum = x + y[0] + y[1];
                    console.log(this.hr_sum)
                }
            }, howManyEmployeeByTime(time) {
                /**找出白天工作的員工id*/
                for (let i = 0; i < this.many.data.employeeType.length; i++) {
                    time = this.many.data.employeeType[i].work_begin.split(":")[0]
                    if (time < 17) {
                        this.id.push('{id:' + this.many.data.employeeType[i].id + '}')
                    }

                }

                
            }, howManyDayDoneTask() {
                let day = 24 - 9;
                let sum = 0;
                for (let i = 0; i < this.many.data.tasks.length; i++) {
                     this.done_sum += (this.many.data.tasks[i].duration /60/day);
                }

            }
        }
    }

    Vue.createApp(Counter).mount('#counter')


</script>

</html>
